<%- include('templates/header.ejs') %>
<div class="container">
    <div class="jumbotron">
        <h1>Fancy Quiz</h1>
    </div>
    <form>
    <div class="form-group row">
        <div class="col-sm-5 error"><%= error === true ? 'Invalid input.' : '' %></div>
        <div class="col-sm-2">
            <input class="btn btn-primary" type="button" value="See Report" data-toggle="collapse" data-target="#score" aria-expanded="true" aria-controls="score" <%= answered === 0 ? "hidden" : "" %>>
        </div>
        <div class="col-sm-3">
            <div class="form-group row">
                    <input class="btn btn-primary" type="button" value="Compare Report" data-toggle="collapse" data-target="#compare" aria-expanded="true" aria-controls="compare" <%= reports.length === 0 ? "hidden" : "" %> >
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group row">
                <input class="btn btn-primary" type="button" value="Average Scores" data-toggle="collapse" data-target="#average" aria-expanded="true" aria-controls="average" <%= reports.length === 0 ? "hidden" : "" %>>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
        <%=questions[answered].question%><br>
        <hr>
            <ul class="list-group">
              <input type="button" onclick="changeChoice('<%=questions[answered].choice1%>');" id="quiz" data-id="<%=questions[answered].choice1%>" class="list-group-item list-group-item-action" value="<%=questions[answered].choice1%>">
              <input type="button" onclick="changeChoice('<%=questions[answered].choice2%>');" id="quiz" data-id="<%=questions[answered].choice2%>" class="list-group-item list-group-item-action" value="<%=questions[answered].choice2%>">
              <input type="button" onclick="changeChoice('<%=questions[answered].choice3%>');" id="quiz" data-id="<%=questions[answered].choice3%>" class="list-group-item list-group-item-action" value="<%=questions[answered].choice3%>">
              <input type="button" onclick="changeChoice('<%=questions[answered].choice4%>');" id="quiz" data-id="<%=questions[answered].choice4%>" class="list-group-item list-group-item-action" value="<%=questions[answered].choice4%>">
            </ul>
        </div>
        <div class="col-sm-2">
            <span id="score" class="collapse">Score: <%=score%></span>
        </div>
        <div class="col-sm-3 comp">
            <table id="compare" class="collapse compare">
              <tr>
                <th>Email</th>
                <th>Score</th>
                <th>Time</th>
              </tr>
            <% scores.forEach(function(score){  %>
             <tr>
                <td><%=score.email%></td>
                <td><%=score.score%></td>
                <td><%=score.timestamp%></td>
             </tr>
            <% }); %>
        </table>
        </div>
    <div class="col-sm-2">
        <div id="average" class="collapse">
            <table id="average" class="average">
              <tr>
                <th>Time</th>
                <th>Score</th>
              </tr>
            <% reports.forEach(function(report){  %>
             <tr>
                <td><%=report.timestamp%></td>
                <td><%=report.score%></td>
             </tr>
            <% }); %>
        </table><br>
        Average: <%=avg%>
        </div>
        </div>
    </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-5">
            <input class="btn btn-primary" type="button" value="Submit" id="submit" onclick="getChoice();" <%= choice === "undefined" ? "" : "disabled" %>>
            <input class="btn btn-success" type="submit" value="Next" formaction="/next" formmethod="get" <%= answered === 2 ? "hidden" : "" %>>
        </div>
    </div>
    <div class="form-group row" <%= retake === false ? "hidden" : "" %>>
        <div class="col-sm-5">
            <h4>Total Score: <%=score%></h4>
            <input class="btn btn-success" type="submit" value="Retake Quiz" formaction="/" formmethod="get">
        </div>
    </div>
    </form>
</div>
<script>
    var itemChoice="undefined";
    function changeChoice(newChoice){
        console.log("choice: "+itemChoice);
        itemChoice=newChoice;
    }
    function getChoice(){
        const buttons=document.querySelector(".list-group-item");
        var answered=<%=answered%>;
        console.log(buttons.dataset.id);
        if(answered==2){
            var url="/complete?choice="+itemChoice;
        }
        else{
           var url="/submit?choice="+itemChoice; 
        }
        window.location.replace(url);
    }
    $(document).ready(function(){
        var choice = "<%=choice %>";
        var correctChoice = "<%=questions[answered].answer %>";
        console.log("ans: "+correctChoice);
        console.log("choice: "+choice);
        if(choice!="undefined"){
            if(choice==correctChoice){
                console.log("correct");
                $(".list-group-item").each(function(){
                   console.log($(this));
                   if($(this).val()==correctChoice){
                       $(this).addClass("list-group-item-success");
                   }
                });
            }
            else if(choice!=correctChoice){
                console.log("here");
                $(".list-group-item").each(function(){
                   console.log($(this).val());
                   if($(this).val()==correctChoice){
                       $(this).addClass("list-group-item-success");
                   }
                   else if($(this).val()==choice){
                       $(this).addClass("list-group-item-danger");
                   }
                });
            }
        }
    });
</script>
<%- include('templates/footer.ejs') %>